@import './variables';

.geniobot {
	display: flex;
	flex-direction: column;
	width: 30.25rem;
	max-width: 612px;
	&--header {
		border: 1px solid $darkgray;
		padding: 1.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 5.438rem;
		background: $whiteLinear90;
		&__logo {
			width: 6rem;
		}
	}
}
